# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*


ir-kucherenko-1/src/main/dictionaries/dictionary.txt

ir-kucherenko-3/src/main/additional_files/*

ir-kucherenko-3/src/main/collection/A_Clockwork_Orange_Antony_Burgess.epub

ir-kucherenko-3/src/main/collection/Border_Princes_Dan_Abnett.epub

ir-kucherenko-3/src/main/collection/First_and_Only_Dan_Abnett.epub

ir-kucherenko-3/src/main/collection/Ghostmaker_Dan_Abnett.epub

ir-kucherenko-3/src/main/collection/Necropolis_Dan_Abnett.epub

ir-kucherenko-3/src/main/collection/Perfume_The_story_of_a_murderer_Patrick_Suskind.epub

ir-kucherenko-3/src/main/collection/The_Call_of_Cthulhu_H_P_Lovecraft.epub

ir-kucherenko-3/src/main/collection/The_Divine_Comedy_Dante_Alighieri.epub

ir-kucherenko-3/src/main/collection/The_Festival_H_P_Lovecraft.epub

ir-kucherenko-3/src/main/collection/The_Great_Gatsby_F_Scott_Fitzgerald.epub

ir-kucherenko-4/src/main/additional_files/*

ir-kucherenko-4/src/main/collection/A_Clockwork_Orange_Antony_Burgess.epub

ir-kucherenko-4/src/main/collection/Border_Princes_Dan_Abnett.epub

ir-kucherenko-4/src/main/collection/First_and_Only_Dan_Abnett.epub

ir-kucherenko-4/src/main/collection/Ghostmaker_Dan_Abnett.epub

ir-kucherenko-4/src/main/collection/Necropolis_Dan_Abnett.epub

ir-kucherenko-4/src/main/collection/Perfume_The_story_of_a_murderer_Patrick_Suskind.epub

ir-kucherenko-4/src/main/collection/The_Call_of_Cthulhu_H_P_Lovecraft.epub

ir-kucherenko-4/src/main/collection/The_Divine_Comedy_Dante_Alighieri.epub

ir-kucherenko-4/src/main/collection/The_Festival_H_P_Lovecraft.epub

ir-kucherenko-4/src/main/collection/The_Great_Gatsby_F_Scott_Fitzgerald.epub

ir-kucherenko-3/src/main/additional_files/

ir-kucherenko-5/src/main/additional_files/result.txt

ir-kucherenko-5/src/main/collection/Martin George. Ace In The Hole - royallib.com.epub

ir-kucherenko-5/src/main/collection/Martin George. Aces Abroad - royallib.com.epub

ir-kucherenko-5/src/main/collection/Martin George. Aces High - royallib.com.epub

ir-kucherenko-5/src/main/collection/Martin George. Arianne - royallib.com.epub

ir-kucherenko-5/src/main/collection/Martin George. Busted flush - royallib.com.epub

ir-kucherenko-5/src/main/collection/Martin George. Card Sharks - royallib.com.epub

ir-kucherenko-5/src/main/collection/Martin George. Dead Mans Hand - royallib.com.epub

ir-kucherenko-5/src/main/collection/Martin George. Dealers Choice - royallib.com.epub

ir-kucherenko-5/src/main/collection/Martin George. Death Draws Five - royallib.com.epub

ir-kucherenko-5/src/main/collection/Martin George. Deuces Down - royallib.com.epub

ir-kucherenko-5/src/main/collection/Martin George. Double Solitaire - royallib.com.epub

ir-kucherenko-5/src/main/collection/Martin George. Down And Dirty - royallib.com.epub

ir-kucherenko-5/src/main/collection/Martin George. Down These Strange Streets - royallib.com.epub

ir-kucherenko-5/src/main/collection/Martin George. Dying of the Light - royallib.com.epub

ir-kucherenko-5/src/main/collection/Martin George. Fevre Dream - royallib.com.epub

ir-kucherenko-5/src/main/collection/Martin George. Fiebertraum - royallib.com.epub

ir-kucherenko-5/src/main/collection/Martin George. Fire & Blood - royallib.com.epub

ir-kucherenko-5/src/main/collection/Martin George. Inside Straight - royallib.com.epub

ir-kucherenko-5/src/main/collection/Martin George. Jokers Wild - royallib.com.epub

ir-kucherenko-5/src/main/collection/Martin George. Jokertown Shuffle - royallib.com.epub

ir-kucherenko-5/src/main/collection/Martin George. Old Mars - royallib.com.epub

ir-kucherenko-5/src/main/collection/Martin George. One Eyed Jacks - royallib.com.epub

ir-kucherenko-5/src/main/collection/Martin George. Songs of Love and Death - royallib.com.epub

ir-kucherenko-5/src/main/collection/Martin George. Songs of the Dying Earth - royallib.com.epub

ir-kucherenko-5/src/main/collection/Martin George. Suicide Kings - royallib.com.epub

ir-kucherenko-5/src/main/collection/Martin George. The Way of the Wizard - royallib.com.epub

ir-kucherenko-5/src/main/collection/Martin George. Turn of the Cards - royallib.com.epub

ir-kucherenko-5/src/main/collection/Martin George. Wildcards - royallib.com.epub

ir-kucherenko-5/src/main/collection/Martin George. Windhaven - royallib.com.epub

ir-kucherenko-6/src/main/collection/*

ir-kucherenko-6/src/main/additional_files/*

ir-kucherenko-5/src/main/additional_files/blocks/*
